@font-face {
	font-family: gilroy--bold;
	src: local(Gilroy-Regular);
	font-family: gilroy--medium;
	src: local(Gilroy-Medium);
	font-family: gilroy--semiBold;
	src: local(Gilroy-SemiBold);
	font-family:gilroy--bold;
	src: local(Gilroy-Bold)
}

.menu_bar--logo{
	font-family:gilroy--bold;
	width: 140px;
	height: 40px;
}

.menu_bar--logo--black {
	color: #000;
}

.menu_bar--logo--orange{
	color: #F25822;
}

/* .menu_bar--logo--text {
	margin: auto; */
/* } */