@font-face {
    font-family: gilroy--bold;
    src: local(Gilroy-Regular);
    font-family: gilroy--medium;
    src: local(Gilroy-Medium);
    font-family: gilroy--semiBold;
    src: local(Gilroy-SemiBold);
    font-family: gilroy--bold;
    src: local(Gilroy-Bold)
}

.menu_bar--logo {
    display: flex;
    font-family: gilroy--bold;
    width: 140px;
    height: 40px;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.menu_bar--logo--black {
    color: #000;
}

.menu_bar--logo--orange {
    display: inline;
    color: #F25822;
}

.menu_bar--logo--text {
    display: inline-block;
}

.menu_bar--menu {
    display: flex;
    gap: 20px
}

.menu_bar {
    display: flex;
}

.whitespace {
    flex-grow: 1;
    border: 1px solid salmon;
}

.HOME_META_MAIN {
    font-family: gilroy--bold;
    font-size: 60px;
}

.HOME_META_SUB {
    font-family: gilroy--medium;
    font-size: 20px;
    color: #888888;
}