* {
    margin: 0;
    padding: 0;
    border: 1px red solid;
    border: 0px;
}

.BRAND {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu_bar {
    /* position: absolute; */
    /* top:37px; */
    margin-left: 370px;
    margin-top: 37px;
    justify-content: space-between;
    /* margin-right: 370px; */
    height: 40px;
    gap: 500px;
    display: flex;
    
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.BG {
    background-image: none;
}

.BRANDLOGO {
    /* width: 1200px; */
    display: flex;
    margin-left: 345px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* margin: 88px auto 85px auto; */
}

.brand_pr {
    width: 160px;
    height: 50px;
}

.mid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.HOME_PAGE {
    height: 700px;
    width: 1920px;
    position: relative;
}
.HOME_META {
    position: absolute;
    top: 164px;
    left: 373px;
    width: 522px;
    height: 374px;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    align-items: center;
}

.HOME_META_MAIN{
    grid-column: 1/-1;
}
.HOME_META_SUB {
    grid-column: 1/-1;
}
.META_IMAGE {
    width: 611px;
    height: 373px;
    position: absolute;
    left: 964px;
    top: 164px;

}