@font-face {
    font-family: lato;
    src: url("./fonts/Lato-Bold\ \(2\).ttf");
}

@media only screen and (max-width:1433px) and (min-width:767px) {
	* {margin:0;
		padding:0;
		border:0;
	}

	.header {
		background-color: rgba(34, 34, 34, 1);
		display: flex;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: space-around;
		gap: 55vw;
		max-height: 9vmin;
	}
	.frontline__banner {
		width: 100vw;
	}
	.alcash{
		width:50vw
		
	}
	.margin--hot {
		padding-left: 1vmax;
	    border-left: 1vmax solid rgba(241, 109, 127, 1);
		width: 48vw;
	}
	.alcash {
		min-height: 40vw;
	}
	.margin--hot__big {
	font-family: Lato;
	font-size: 37px;
	font-weight: 700;
	line-height: 44px;
	letter-spacing: 0em;
	text-align: left;
	}

	.margin--hot__small--black, .margin--hot__small--pink {
		font-family: Lato;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		letter-spacing: 0em;
		text-align: left;

	}

	.offers_thumbnail {
		margin-top: 9vw;
		max-width: 96vw;
	}

	.num0__text--target {

	font-family: Lato;
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: center;

	}

	.num0__text--discount {
			font-family: Lato;
	font-size: 18px;
	font-weight: 900;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: center;
	}

	.Du_Soleil_xD {
		max-width: 96vw;
		margin-left: auto;
		margin-right: auto;
		grid-template-columns: repeat(2,1fr);
    	grid-template-rows: 11fr, repeat(3,39fr);
		gap:2vw;

	}

	.Du_Soleil_xD--header__main {
		font-family: Lato;
		font-size: 30px;
		font-weight: 400;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: left;
	}

	.Du_Soleil_xD--header__sub {
		font-family: Lato;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: left;
	}	

	
	.oh_my_lol_pic {
		width: 100%;
		height: 100%;
	}

	.punchline {
		font-family: Lato;
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0em;
		text-align: left;
	}

	.boring_details {
		font-family: Lato;
		font-size: 14px;
		font-weight: 300;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: left;

	}

	.price_b4_taxes {
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		letter-spacing: 0em;
		text-align: left;
	}

	.more {
		min-width: 28vw;
		margin-top: 4vw;
		margin-bottom: 8vw;
		display: flex;
		align-items: center;
		justify-content: center;
		

	}
	.more_text {
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		letter-spacing: 0em;
		text-align: left;

	}
}