* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    margin: auto;
    border: 1px;
    border-color: #0150E9;
    border-style: solid;
    width: 70%;
    /* border-style: dotted;
	background-color: cyan; */
}

.content {
    display: flex;
    margin: auto;
    width: 65%;
    border: 1px;
    border-style: solid;
    border-color: #E99C08;
}

.header__logo {
    padding: 30px 10% 30px 2%;
    width: 30%;
    display: inline-block;
}

.header__menu {
    position: relative;
    bottom: 25px;
    border-style: solid;
    border-color: #20C905;
    border-width: 1px;
    margin: 1%;
    padding: 1% 5px 2%;
    display: inline-block;
}

.header__menu--nav {
    color: inherit;
    display: inline-block;
}

.horizontal_list {
    display: inline;
    list-style: none;
    /* padding: minmax(20px, auto); */
}

.header__menu__item--red {
    color: #F25822;
}

.header__menu__item--black {
    color: #000;
}

.button--sell,
.button--view {
    overflow-wrap: normal;
    border-radius: 50px;
    width: 76px;
    height: 50px;
    /* border-color: rgba(red, green, blue, 0); */
}

.button--sell {
    background-color: #F25822;
    color: #fff;
}

.button--view {
    color: #aaa;
    background-color: #fff;
}

.content__gate {
    display: inline-block;
    border-color: #BD0EFB;
    border-width: 1px;
    width: 45%;
}

.content--image {
    display: inline-block;
    width: 55%;
}

.image {
    width: 100%;
}

.content__ads-holder {
    width: 90%;
    margin: auto;
    position: absolute;
    top: 16%;
    left: 6%;
    z-index: -1;
}

.content__footer-collabs {
    width: 100%;
}

.footer__image {
    width: 100%;
}

.content__header {
    font-family: gilroy;
    font-weight: 400;
    font-size: larger;
}

@font-face {
    font-family: gilroy;
    src: url("https://fonts.cdnfonts.com/css/gilroy-bold");
}