* {
	background-color: #FAFAFA;
	border: 1px solid salmon;
	margin:0;
	padding: 0;
}

a{
	text-decoration: inherit;
	color: inherit;
	background-color: inherit;
}

.content, .header {
	max-width: 90vw;
	margin-left: auto;
	margin-right: auto;
}
.header--table {
    margin-top: 28%;
	margin-bottom: 28%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 3%;
}


.header {
	position: relative;
	display: flex;
    border: 2px red;
    border-style: dotted;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
	gap:3%;
	max-height: 35vh;
	

}

.content {
	margin-top: 1%;
	max-height: 65vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.promotion--cell {
	max-width: 15%;
	overflow-x:hidden;

}

.noshow {
	display: none;
}

.pr__cell--pic {
	max-width: 3%;
	max-height: 3%;
}

.content__table {
	grid-template-columns: repeat(3,1fr);
	display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: start;
	max-width: 70%;
	gap:1.5%;

}


.column--pic{

}